<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Reviews</title>
</head>
<body>
    <a href="/catalog">View Catalog</a><br>
    <a href="/search">Search</a><br>
    <h1>Latest Reviews</h1>

    <ul>
        {% for review in reviews %}
            <li>
                <strong>User:</strong> {{ review.user }} <br>
                <strong>Plant:</strong> {{ review.plant.common_name }} <br>
                <strong>Review:</strong> {{ review.text }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
